.tabs {
  position: relative;
}
.tabs__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  gap: 1rem;
  border-bottom: 1px solid #ccc;
}

.tabs__tab {
  padding: 0.3rem 0.6rem;
  cursor: pointer;
  color: #000;
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  user-select: none;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.tabs__tab--active {
  color: #fff;
  background-color: var(--color-blue);
}

.tabs__content {
  padding: 1rem;
  overflow: auto;
}
